# Data Clining dos dados:

## Validacacao dos dados:

In [13]:

# importacao dos dados
import pandas as pd
import polars as pl
import numpy as np
import seaborn as sb
import plotly.express as px
import matplotlib.pyplot as plt
import os

In [19]:
# mudar o diretorio:
os.chdir('/Users/moloarmindo/itCareer/projetos/data_science/maine_ocupation')

In [ ]:
# funcores personalizadas
from src import utils

In [23]:
# vrificando os dados
df = pd.read_csv('data/processed/dados_ocupation.csv')
df.head()
df.tail()

,Major Occupation Group ID,Major Occupation Group,Minor Occupation Group ID,Minor Occupation Group,Broad Occupation ID,Broad Occupation,Detailed Occupation ID,Detailed Occupation,Year,Average Wage,Average Wage Appx MOE,Record Count,Total Population
4956,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified",2019,38440.988571,41573.172258,13.0,175.0
4957,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified",2020,36540.041176,46061.234034,15.0,170.0
4958,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified",2021,46390.900000,63367.005877,8.0,100.0
4959,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified",2022,42433.035714,48707.158706,10.0,140.0
4960,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified",2023,67467.899408,84299.270501,10.0,169.0

* Verificacao dos dados faltantes:

In [ ]:
missing_values = df.isnull().sum()
missing_values

Major Occupation Group ID     0
Major Occupation Group        0
Minor Occupation Group ID     0
Minor Occupation Group        0
Broad Occupation ID           0
Broad Occupation              0
Detailed Occupation ID        0
Detailed Occupation           0
Year                          0
Average Wage                  0
Average Wage Appx MOE        11
Record Count                  0
Total Population              0
dtype: int64

In [ ]:
# dados como missing values 
def print_numero_registro(df, *args) -> None:
   print(df.groupby(*args).size().sort_values(ascending=False))

## Analise Descritiva

In [41]:
# Selecionar os valores categoricos para vermos se ouve mudanca de ocupacao:
valoresCategoricos = ['Major Occupation Group ID', 'Major Occupation Group', 'Minor Occupation Group ID', 'Minor Occupation Group', 'Broad Occupation ID', 'Broad Occupation', 'Detailed Occupation ID', 'Detailed Occupation']
dfCategorico = df[valoresCategoricos]

In [42]:
dfCategorico

,Major Occupation Group ID,Major Occupation Group,Minor Occupation Group ID,Minor Occupation Group,Broad Occupation ID,Broad Occupation,Detailed Occupation ID,Detailed Occupation
0,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers
1,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers
2,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers
3,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers
4,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers
...,...,...,...,...,...,...,...,...
4956,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified"
4957,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified"
4958,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified"
4959,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified"
4960,550000,Military specific occupations,550000,Military specific occupations,550000,Military specific occupations,559830,"Military, rank not specified"

In [55]:
# verificar as grandes ocupacoes por registros:
dfCategorico.groupby('Major Occupation Group').size().sort_values(ascending=False)

Major Occupation Group
Management, business, science, & arts occupations             2006
Production, Transportation, & Material Moving Occupations      884
Service Occupations                                            691
Sales & Office Occupations                                     672
Natural resources, construction, & maintenance occupations     668
Military specific occupations                                   40
dtype: int64

In [54]:
dfCategorico.groupby('Minor Occupation Group').size().sort_values(ascending=False)

Minor Occupation Group
Production Occupations                                            584
Management, business, & financial occupations                     565
Computer, engineering, & science occupations                      541
Education, legal, community service, arts, & media occupations    533
Office & Administrative Support Occupations                       492
Healthcare practitioners & technical occupations                  367
Installation, maintenance, & repair occupations                   308
Transportation & Material Moving Occupations                      300
Construction & Extraction Occupations                             290
Personal Care & Service Occupations                               199
Sales & related occupations                                       180
Protective service occupations                                    172
Healthcare Support Occupations                                    128
Food Preparation & Serving Related Occupations                    120
Building & Grounds Cleaning & Maintenance Occupations              72
Farming, Fishing, & Forestry Occupations                           70
Military specific occupations                                      40
dtype: int64